
<div class="container-fluid pt-5  mt-3 d-flex ">
		<div class="float-left  col-md-7">
				<img width="100%" src="<%= image_url 'push.png' %>" />
		</div>
		<div class="form-group emp-form h-75 purple my-auto rounded col-md-5 float-right">
				<div class="inner-form col-md-7  mx-3 ">
						<h3 class="text-center sign-up-title">Welcome to 8 waves</h3>
						<h4 class="text-center sign-up-title">Register for free:</h4>
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
						<div class="field">
								<%#= <%= f.label :email %>

								<%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "col-md-12", placeholder: "Email" %>
						</div>
						<div class="field ">
								<%#= <%= f.label :password %>
								<% if @minimum_password_length %>
								<!--<%#=<em>(<%= @minimum_password_length %> characters minimum)</em> #%> -->
								<% end %>
								<%= f.password_field :password, autocomplete: "new-password", class: "col-md-12", placeholder: "Password (6 minimum characters)" %>


						</div>
						<div class="field ">
								<%#=  <%= f.label :password_confirmation %>
								<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-12", placeholder: "Confirm password" %>
						</div>
						<div class="actions text-center">
								<%= f.submit "Sign Up", class: "reg-submit" %>
						</div>

						<% end %>
						<%#=<%= render "employers/shared/links" %>
						<%= render "devise/shared/links" %>
				</div>
		</div>
</div>